body {
  background-color: #ccffcc;
}
.navbar {
  background-color: #ff884d;
  text-align: center;
}
.navbar a {
  display: block;
  background-color: yellow;
  color: blue;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  width: 25%;
  padding: 10px;
  margin: 10px;
}
.navbar a:hover {
  color:yellow;
  background-color: blue;
}
h1 {
  font-family: Palatino Linotype;
  color: red;
}
h2 {
  font-weight: 700;
  font-family: Palatino Linotype;
}
p {
  font-weight: 600;
  color: black;
}
img {
  max-width: 100%;
  border-radius: 10px;
}
