bod y{
  background-color: #ccffcc
}
.navbar {
  list-style-type: none;
  overflow: 5%;
  background-color: #ff884d;
}
.navbar a {
  text-align: center;
  display: block;
  background-color: yellow;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  width: 25%;
  padding: 10px;
  margin: 10px;
}
.navbar a:hover {
  color:yellow;
  background-color: blue;
}
h1 {
  font-family: Palatino Linotype;
  color: red;
}
h2 {
  font-weight: 700;
  font-family: Palatino Linotype;
}
p {
  font-weight: 600;
  color: black;
}
img {
  max-width: 100%;
  border-radius: 10px;
  align-self: center;
}
