body{
  background-color: #ccffcc
}
.navbar{
  overflow: auto;
  background-color: #ff884d;
}
.navbar a{
  font-size: 17px;
  background-color: yellow;
  color: blue;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  width: 25%;
  padding: 12px;
  margin: 10px;
}
.navbar a:hover{
  color:yellow;
  background-color: blue;
}
h1{
  font-family: Palatino Linotype;
  color: red;
}
h2{
  font-weight: 700;
  font-family: Palatino Linotype;
}
p{
  font-weight: 600;
  color: black;
}
img{
  width: 350px;
  legnth: 250px
}
